body {
    background-image: url("images/HTA.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

.task {
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
}

#test {
    position: absolute;
    top: 80px;
    left: 100px;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
}
