body {
    background-image: url("images/HTA.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

.task {
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
}

.task2 {
    position: absolute;
    top: 120px;
    left: 140px;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.taskgroup {
    width: 49%;
    display: inline-block;
    text-align: center;
    border-style: solid;
}

#test {
    position: absolute;
    top: 80px;
    left: 100px;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    background-color: #FFFFFF;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
